@page "/calculator"

<PageTitle>Calculator</PageTitle>

<h1>Type in your calculation and see the results </h1>

<div class="container">
    <div class="row">
        <div class="col"><button type="button" class="btn btn-danger" @onclick="DeleteCalculatorHistory">DH</button>
        </div>
        <div class="col"><button type="button" class="btn btn-warning" @onclick="ClearUserEntry">C</button></div>
        <div class="col"><button type="button" class="btn btn-secondary"
            @onclick="@(e => ButtonPressedNumber("0"))">0</button>
            </div>
        <div class="col"><button type="button" class="btn btn-primary"
            @onclick="@(e => ButtonPressedOperator("+"))">+</button></div>
    </div>
    <div class="row">
        <div class="col"><button type="button" class="btn btn-secondary"
            @onclick="@(e => ButtonPressedNumber("1"))">1</button></div>
        <div class="col"><button type="button" class="btn btn-secondary"
            @onclick="@(e => ButtonPressedNumber("2"))">2</button></div>
        <div class="col"><button type="button" class="btn btn-secondary"
            @onclick="@(e => ButtonPressedNumber("3"))">3</button></div>
        <div class="col"><button type="button" class="btn btn-primary"
            @onclick="@(e => ButtonPressedOperator("-"))">-</button>
            </div>
    </div>
    <div class="row">
        <div class="col"><button type="button" class="btn btn-secondary"
            @onclick="@(e => ButtonPressedNumber("4"))">4</button></div>
        <div class="col"><button type="button" class="btn btn-secondary"
            @onclick="@(e => ButtonPressedNumber("5"))">5</button></div>
        <div class="col"><button type="button" class="btn btn-secondary"
            @onclick="@(e => ButtonPressedNumber("6"))">6</button></div>
        <div class="col"><button type="button" class="btn btn-primary"
            @onclick="@(e => ButtonPressedOperator("*"))">*</button></div>
    </div>
    <div class="row">
        <div class="col"><button type="button" class="btn btn-secondary"
            @onclick="@(e => ButtonPressedNumber("7"))">7</button></div>
        <div class="col"><button type="button" class="btn btn-secondary"
            @onclick="@(e => ButtonPressedNumber("8"))">8</button></div>
        <div class="col"><button type="button" class="btn btn-secondary"
            @onclick="@(e => ButtonPressedNumber("9"))">9</button></div>
        <div class="col"><button type="button" class="btn btn-primary"
            @onclick="@(e => ButtonPressedOperator("/"))">/</button></div>  
    </div>
</div>

<div class="col"><button  type="button" class="btn btn-success"
            @onclick="@(e => ButtonPressedOperatorEqualTo("="))">=</button> </div>

<div class="container">
    <div class="row">
        <div class="col">User Pressed</div>
        <div class="col">Running Total</div>
        <div class="col">Equation</div>
        <div class="col">Last Pressed</div>
        <div class="col">Operator</div>
        <div class="col">LastNumber</div>
        <div class="col">Calculation</div>
    </div>
    <div class="row">
        <div class="col">@UserPressedKey</div>
        <div class="col">@RunningTotal</div>
        <div class="col">@Equation</div>
        <div class="col">@LastPressedKey</div>
        <div class="col">@OperatorEntered</div>
        <div class="col">@LastNumber</div>
        <div class="col">@Calculate</div>
    </div>
</div>
